h1{
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.app{
  flex: 1 0 auto
}
.content{
  flex: 1 0 auto;
}
.login{
  height: 100%;
  margin: 150px 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.voteNav, .stickyFooter{
  color: #ffffff;
  background-color: #26a5cc;
  text-align: center;
  a, a:visited{
    color:white;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    display: inline-block;
  }
}
.pointer{
  cursor: pointer;
}
.floatRight{
  float: right;
}
.survey{
  .inline{
    display: inline;
    width: 75%;
  }
  .choice{
    input{
      width: 10%;
      float:left;
    }
    .txtInput{
      width: 50%;
    }

  }
}
.stickyFooter{
  margin-top: 25px;
}
