h1{
  text-align: center;
}
.app{
  height: 100%;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content{
  flex: 1 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.login{
  height: 100%;
  margin: 150px 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stickyFooter{
  width: 100%;
  color: #ffffff;
  background-color: #26a5cc;
  text-align: center;
}
.voteNav{
  color: #ffffff;
  background-color: #26a5cc;
  text-align: center;
  a, a:visited{
    color:white;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    display: inline-block;
  }
}
.pointer{
  cursor: pointer;
}
.floatRight{
  float: right;
}
.survey{
  .container{
    height: 100%;
    float: left;
    width: 50%;
    .chart{
      height: 100%;
      transform: translate(0,33%);
    }
  }
  .inline{
    display: inline;
    width: 75%;
  }
  .choice{
    input{
      width: 10%;
      float:left;
    }
    .txtInput{
      width: 50%;
    }

  }
}
.stickyFooter{
  margin-top: 25px;
}
@media only screen and (max-width: 700px){
  .survey{
    .container{
      width: 100%;
      .chart{
        transform: translate(0,0);
      }
    }
  }
}
