
.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-squared:before { content: '\e80c'; } /* '' */
.icon-plus-squared:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-info:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-back:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-layout:before { content: '\e817'; } /* '' */
.icon-link:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-direction:before { content: '\e81a'; } /* '' */
.icon-phone:before { content: '\e81b'; } /* '' */
.icon-cog:before { content: '\e81c'; } /* '' */
.icon-share:before { content: '\e81d'; } /* '' */
.icon-block:before { content: '\e81e'; } /* '' */
.icon-down-open:before { content: '\e81f'; } /* '' */
.icon-left-open:before { content: '\e820'; } /* '' */
.icon-right-open:before { content: '\e821'; } /* '' */
.icon-up-open:before { content: '\e822'; } /* '' */
.icon-down-open-big:before { content: '\e823'; } /* '' */
.icon-left-open-big:before { content: '\e824'; } /* '' */
.icon-right-open-big:before { content: '\e825'; } /* '' */
.icon-up-open-big:before { content: '\e826'; } /* '' */
.icon-paper-plane:before { content: '\e827'; } /* '' */
.icon-leaf:before { content: '\e828'; } /* '' */
.icon-rocket:before { content: '\e829'; } /* '' */
.icon-arrows-ccw:before { content: '\e82a'; } /* '' */
.icon-cw:before { content: '\e82b'; } /* '' */
.icon-quote:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-user:before { content: '\e82e'; } /* '' */
.icon-users:before { content: '\e82f'; } /* '' */
.icon-user-add:before { content: '\e830'; } /* '' */
.icon-chart-bar:before { content: '\e831'; } /* '' */
.icon-resize-vertical:before { content: '\e832'; } /* '' */
.icon-resize-horizontal:before { content: '\e833'; } /* '' */
.icon-chart-line:before { content: '\e834'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */